
<div class="panel panel-default">
    <div class="panel-heading">Категория: {{room.name}}</div>
    <button class="btn btn-sm btn-primary" create-new-product room="room">Добавить содержимое</button>
    <button class="btn btn-sm btn-primary" add-user-to-room room="room">Поделиться с пользователем</button>
    <div class="panel-body">
        <div ng-if="products.length === 0">
            У вас нет материалов в категоории. Нажмите "Добавить содержимое"
        </div>
        <hr />
        <div ng-if="products.length !== 0">
            <div class="room" ng-repeat="product in products" >
                <button type="button" class="close" aria-hidden="true" uib-tooltip="Удалить" tooltip-placement="left" ng-click="delete(product.id);">&times;</button>
                <div class="panel-body">
                    <span>{{product.name}}</span>
                    <span> : </span>
                    <span>{{product.description}}</span>
                    <span ng-if="product.owner">
                        изучает: {{product.owner.login}}
                    </span>
                    <button class='btn btn-info round35-button' assign-user room="room" uib-tooltip='Назначить пользователю' tooltip-placement='top'>
                        <span class='glyphicon glyphicon-user'></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
